.addproduct {
  max-width: 420px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addproduct h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addbutton {
  width: 100%;
  padding: 10px;
  background: #22ab6a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addbutton:hover {
  background: #1d4ed8;
}

/* ===== POPUP ===== */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: white;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 300px;
}

.popup-box button {
  margin-top: 15px;
  padding: 6px 14px;
  border: none;
  background: #16a34a;
  color: white;
  border-radius: 4px;
}

/* ===== Mobile ===== */
@media (max-width: 576px) {
  .addproduct {
    margin: 20px 0px;
  }
}
